* {
  font-family: 'Lato', sans-serif;
  /*border: solid 1px red;    /*TO BE REMOVED ONCE FINISHED*/
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(38,38,38);
  /** place image that reflects the weather **/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

/*WEATHER WRAPPER*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  width: 75%;
  height: 75%;
  opacity: 0.6;
  background-image: url("../Files/sky-rainy-bg.jpeg");background-position: center;background-size: cover;
  border-radius: 10px;
  box-shadow: 0 45px 90px 5px black;
}

#weather-icon-wrapper,
#temp-wrapper,
#location,
#weather-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  z-index: 100;
}

#icons-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#temp-switch,
#text-footer,
#social-links {
  width: 90px;
}

h1 {
  font-size: 4rem;
}
